.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--color-background);
  border-top: 2px solid var(--color-icons);
  border-bottom: 2px solid var(--color-icons);
}

.btn-submit {
  background-color: var(--color-text);
  border: 0px solid white;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  color: whitesmoke;
}
