.Favs-page {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 2rem 1fr 2rem;
}

.App-main {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  background-color: var(--color-background);
}

.App-main a {
  text-decoration: none;
}
