.My-cakes-page {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 2rem 1fr 2rem;
}

.App-main {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  background-color: var(--color-background);
}

.App-main a {
  text-decoration: none;
}

/*card */

.ItemCard {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-items-background);
  margin: 1rem;
  border: hidden;
  border-radius: 15px;
  height: auto;
}

.frame {
  border: var(--color-icons) solid;
}

.ItemCard__image {
  height: 5rem;
}

.ItemCard__name {
  color: var(--color-icons);
}

.ItemCard__button {
  background-color: var(--color-icons);
  color: var(--color-button-text);
  border: 2px hidden;
  border-radius: 25px;
  padding: 0.25rem 0.2rem;
}

.ItemCard--btnDiv {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.ItemCard__link {
  align-self: center;
}

.ItemCard__button--fav {
  background: none;
  border: none;
}
