.Single-page {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 2rem 1fr 2rem;
  scroll-behavior: smooth;
}

.SinglePage__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  background-color: var(--color-background);
}

.SinglePage__cake--image {
  height: 7rem;
  width: 7rem;
  border-radius: 15px;
  margin-top: 0.5rem;
}

.SinglePage__cake--title {
  color: var(--color-text);
}

.SinglePage__cake--text {
  color: var(--color-text);
}
