.SinglePageAPI__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  background-color: var(--color-background);
  color: var(--color-text);
}

.SinglePageAPI__cake--image {
  height: 6rem;
  width: 6rem;
  border-radius: 15px;
}

.SinglePageAPI__link {
  color: var(--color-text);
}

a:link {
  text-decoration: none;
  color: var(--color-icons);
}

a:visited {
  color: var(--color-icons);
}

a:hover {
  color: red;
}

a:active {
  color: blue;
}

.SinglePageAPI--button {
  background-color: var(--color-text);
  border: none white;
  padding-inline: 1em;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: whitesmoke;
  margin-bottom: 1rem;
}
