.Single-page {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 2rem 1fr 2rem;
  scroll-behavior: smooth;
}

.SinglePage__content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  background-color: var(--color-background);
}

.SinglePage__cake--image  {
  height: 7rem;
  width: 7rem;
}

img {
  height: 7rem;
  width: 7rem;
}
