.Single-page {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 2rem 1fr 2rem;
  scroll-behavior: smooth;
}

.SinglePage__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  background-color: var(--color-background);
}

.SinglePage__cake--image {
  height: 7rem;
  width: 7rem;
  border-radius: 15px;
  margin-top: 0.5rem;
}

.SinglePage__cake--title {
  color: var(--color-text);
}

.SinglePage__cake--text {
  color: var(--color-text);
}

hr {
  padding: 0;
  border: none;
  border-top: medium double var(--color-icons);
  color: var(--color-icons);
  text-align: center;
}
hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: var(--color-background);
}
