.Footer {
  border-top: 5px solid var(--color-icons);
  background-color: var(--color-background);
}

.Footer__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-icons);
  margin-top: 0.1em;
}

.global-class-icon {
  color: var(--color-icons);
  font-size: 2rem;
}

.Footer__navigation--item {
  color: var(--color-icons);
  font-size: 2rem;
}
