.ItemCard {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-items-background);
  margin: 1rem;
  border: hidden;
  border-radius: 15px;
  height: auto;
}

.frame {
  border: var(--color-icons) solid;
}

.ItemCard__image {
  margin-top: 1rem;
  height: 5rem;
  border-bottom-left-radius: 40%;
  border-top-right-radius: 40%;
  border: 8px double var(--color-button-text);
}

.ItemCard__name {
  color: var(--color-icons);
}

.ItemCard__button {
  background-color: var(--color-icons);
  color: var(--color-button-text);
  border: 2px hidden;
  border-radius: 25px;
  padding: 0.25rem 0.2rem;
  margin: 0.5rem;
}

.ItemCard__button:hover {
  background-color: salmon;
  color: black;
}

.ItemCard__button--box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.ItemCard__link {
  align-self: center;
}

.ItemCard__button--fav {
  background: none;
  border: none;
}

.Icon {
  font-size: 2rem;
  color: var(--color-icons);
  margin: 0.5rem;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px rgb(219, 98, 98);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(170, 88, 88);
  box-shadow: 3px 3px 5px 6px rgb(190, 134, 134);
}

.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
