.Recipe-api__card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-items-background);
  margin: 1rem;
  border: hidden;
  border-radius: 15px;
  height: auto;
}

.Recipe-api__card--image {
  height: 5rem;
  width: 5rem;
  margin-top: 1rem;
  border-radius: 40%;
}

.Recipe-api__card--title {
  color: var(--color-icons);
  width: 10rem;
  word-wrap: break-word;
}
.Icon {
  font-size: 2rem;
  color: var(--color-icons);
  margin: 0.5rem;
}
.shadow {
  -moz-box-shadow: 3px 3px 5px 6px rgb(219, 98, 98);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(170, 88, 88);
  box-shadow: 3px 3px 5px 6px rgb(190, 134, 134);
}

.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.grow {
  transition: all 0.5s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}
