@import "./styles/_colors.css";
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*,
::before,
::after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rochester", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
